* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "Open Sans", sans-serif;
    background-color: $bg-on-base-color;
    width: 95%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}